---

### Katello
- name: update katello package
  yum:
    name: 'http://satellite6/pub/katello-ca-consumer-latest.noarch.rpm'
    state: latest
  ignore_errors: true
  when: "ansible_distribution == 'RedHat'"
  tags:
    - patching

### SUSE subscription
- name: subscribe to SUSE/SLES
  shell: "SUSEConnect -r 60sv384vw31vv"
  ignore_errors: true
  when: "('SUSE' in ansible_distribution or 'SLES' in ansible_distribution) and suse_subscription.rc!=0"
  tags:
    - patching

- name: update RHEL OS & check wether reboot is required
  block:
    - name: run yum update
      yum:
        name: "*"
        disablerepo: "*"
        enablerepo: "{{ rhel_enabled_repos }}"
        exclude: "{{ packages_to_exclude }}"
        state: latest
    - name: Check if a reboot is needed on all RHEL based servers
      command: needs-restarting -r
      register: rhel_restart_required
      ignore_errors: yes
  when: "ansible_distribution == 'RedHat'"
  tags:
    - patching

- name: update CentOS OS & check wether reboot is required
  block:
    - name: run yum update
      yum:
        name: "*"
        disablerepo: "*"
        enablerepo: "{{ centos_enabled_repos }}"
        exclude: "{{ packages_to_exclude }}"
        state: latest
    - name: Check if a reboot is needed on all CentOS based servers
      command: needs-restarting -r
      register: centos_restart_required
      ignore_errors: yes
  when: "ansible_distribution == 'CentOS'"
  tags:
    - patching

- name: update SUSE OS & check wether reboot is required
  block:
    - name: run zypper update
      zypper:
        name: "*"
        state: latest
    - name: Check if a reboot is needed on all SUSE/OpenSUSE/SLES based servers
      register: suse_reboot_required_file
      stat:
        path: /boot/do_purge_kernels
        get_md5: no
  when: "'SUSE' in ansible_distribution or 'SLES' in ansible_distribution"
  tags:
    - patching

- name: update Ubuntu OS & check wether reboot is required
  block:
    - name: run apt update
      apt:
        name: "*"
        state: latest
    - name: Check if a reboot is needed on all Ubuntu based servers
      register: ubuntu_reboot_required_file
      stat:
        path: /var/run/reboot-required
        get_md5: no
  when: "'Ubuntu' in ansible_distribution"
  tags:
    - patching

- debug:
    msg: "{{ suse_reboot_required_file }}"

- name: notify patching stage ended / reboot SUSE/SLES servers if necessary
  shell: "uptime"
  when: "('SUSE' in ansible_distribution or 'SLES' in ansible_distribution) and suse_reboot_required_file.stat.exists"
  notify:
      - reboot
  tags:
      - patching
- name: notify patching stage ended / reboot Ubuntu servers if necessary
  shell: "uptime"
  when: "'Ubuntu' in ansible_distribution and ubuntu_reboot_required_file.stat.exists"
  notify:
      - reboot
  tags:
      - patching
- name: notify patching stage ended / reboot CentOS servers if necessary
  shell: "uptime"
  when: "ansible_distribution == 'CentOS' and centos_restart_required.rc==1"
  notify:
      - reboot
  tags:
      - patching
- name: notify patching stage ended / reboot RHEL servers if necessary
  shell: "uptime"
  when: "ansible_distribution == 'RedHat' and rhel_restart_required==1"
  notify:
      - reboot
  tags:
      - patching