---
- name: verify hostname
  block:
    - name: read hostname [POST]
      shell: "hostname"
      register: hostname_post
    - name: set fact hostname
      set_fact:
        results_post: "{{ results_post|combine({'hostname': hostname_post.stdout.replace(\"'\",'\"')|quote }) }}"
    - name: write hostname
      copy:
        dest: "{{ remote_logs_path }}/{{ ansible_ssh_host }}/post/hostname"
        content: "{{ hostname_post.stdout }}"
  tags:
    - post
- name: get uname output
  block:
    - name: retrieve dist data [POST]
      shell: "uname -r"
      register: uname_post
    - name:
      set_fact:
        results_post: "{{ results_post|combine({'uname': uname_post.stdout.replace(\"'\",'\"')|quote }) }}"
    - name: dump uname output
      copy:
        dest: "{{ remote_logs_path }}/{{ ansible_ssh_host }}/post/uname"
        content: "{{ uname_post.stdout }}"
  tags:
    - post
- name: read syscfg network file
  block:
    - name: get network syscfg [POST]
      shell: "cat /etc/sysconfig/network"
      ignore_errors: true
      register: syscfg_net_post
    - name: set fact syscfg
      set_fact:
        results_post: "{{ results_post|combine({'syscfg_net': syscfg_net_post.stdout.replace(\"'\",'\"')|quote }) }}"
    - name: write syscfg network data
      copy:
        dest: "{{ remote_logs_path }}/{{ ansible_ssh_host }}/post/sys-network"
        content: "{{ syscfg_net_post.stdout }}"
  tags:
    - post
- name: retrieve routes info
  block:
    - name: get route output [POST]
      shell: "route -n | sort"
      register: routes_post
    - name: set fact routes
      set_fact:
        results_post: "{{ results_post|combine({'route': routes_post.stdout.replace(\"'\",'\"')|quote }) }}"
    - name: log routes info
      copy:
        dest: "{{ remote_logs_path }}/{{ ansible_ssh_host }}/post/route"
        content: "{{ routes_post.stdout }}"
  tags:
    - post
- name: list filesystems disks
  block:
    - name: read df output [POST]
      shell: "df -hP | awk '{print $1 \" \" $6}' | sort"
      register: df_post
    - name: set fact df
      set_fact:
        results_post: "{{ results_post|combine({'df': df_post.stdout.replace(\"'\",'\"')|quote }) }}"
    - name: dump df output
      copy:
        dest: "{{ remote_logs_path }}/{{ ansible_ssh_host }}/post/df"
        content: "{{ df_post.stdout }}"
  tags:
    - post
- name: read mounts info
  block:
    - name: get mount cmd output [POST]
      shell: "mount -l | sort"
      register: mounts_post
    - name: set fact mounts
      set_fact:
        results_post: "{{ results_post|combine({'mounts': mounts_post.stdout.replace(\"'\",'\"')|quote }) }}"
    - name: dump mounts info
      copy:
        dest: "{{ remote_logs_path }}/{{ ansible_ssh_host }}/post/mount-l"
        content: "{{ mounts_post.stdout }}"
  tags:
    - post
- name: retrieve fdisk output
  block:
    - name: get partitions info [POST]
      shell: "fdisk -l"
      register: fdisk_post
    - name: set fact fdisk
      set_fact:
        results_post: "{{ results_post|combine({'fdisk': fdisk_post.stdout.replace(\"'\",'\"')|quote }) }}"
    - name: write fdisk output
      copy:
        dest: "{{ remote_logs_path }}/{{ ansible_ssh_host }}/post/fdisk-l"
        content: "{{ fdisk_post.stdout }}"
  tags:
    - post
- name: get lsblk info
  block:
    - name: fetch block devices data [POST]
      shell: "lsblk"
      register: lsblk_post
    - name: set fact lsblk
      set_fact:
        results_post: "{{ results_post|combine({'lsblk': lsblk_post.stdout.replace(\"'\",'\"')|quote }) }}"
    - name: dump lsblk output
      copy:
        dest: "{{ remote_logs_path }}/{{ ansible_ssh_host }}/post/lsblk"
        content: "{{ lsblk_post.stdout }}"
  tags:
    - post
- name:
  block:
    - name: read lv cmd output [POST]
      shell: "lvs | sort "
      register: lvs_post
    - name:
      set_fact:
        results_post: "{{ results_post|combine({'lvs': lvs_post.stdout.replace(\"'\",'\"')|quote }) }}"
    - name: write lvs info
      copy:
        dest: "{{ remote_logs_path }}/{{ ansible_ssh_host }}/post/lvs"
        content: "{{ lvs_post.stdout }}"
  tags:
    - post
- name: get multipath output
  block:
    - name: retrieve multipath data
      shell: "multipath -ll"
      register: multipath_post
    - set_fact:
        results_post: "{{ results_post|combine({'multipath': multipath_post.stdout.replace(\"'\", '\"')|quote }) }}"
  tags:
    - pre
- name: see itables systemctl services status
  block:
    - name: check iptables service enablence\\ [POST]
      shell: "service iptables status"
      ignore_errors: true
      register: iptables_post
    - name: set fact iptables
      set_fact:
        results_post: "{{ results_post|combine({'iptables': iptables_post.stdout.replace(\"'\",'\"')|quote }) }}"
    - name: write iptables service status
      copy:
        dest: "{{ remote_logs_path }}/{{ ansible_ssh_host }}/post/iptables"
        content: "{{ iptables_post.stdout }}"
  tags:
    - post
- name: grab firewalld service status
  block:
    - name: check status firewalld service [POST]
      shell: "service firewalld status"
      ignore_errors: true
      register: firewalld_post
      when: "('SUSE' in ansible_distribution or 'SLES' in ansible_distribution) or ansible_distribution=='RedHat'"
    - name: get iptables sysctl status [PRE]
      shell: "service ufw status"
      ignore_errors: true
      register: firewalld_post
    - name: set fact firewalld
      set_fact:
        results_post: "{{ results_post|combine({'firewalld': firewalld_post.stdout.replace(\"'\",'\"')|quote }) }}"
    - name: write firewlld service status
      copy:
        dest: "{{ remote_logs_path }}/{{ ansible_ssh_host }}/post/firewall"
        content: "{{ firewalld_post.stdout }}"
  tags:
    - post
- name: fetch sssd systemctl status service
  block:
    - name: get sssd service status [POST]
      shell: 'systemctl status sssd | grep -i active'
      ignore_errors: true
      register: sssd_post
    - name: set fact sssd
      set_fact:
        results_post: "{{ results_post|combine({'sssd': sssd_post.stdout.replace(\"'\",'\"')|quote }) }}"
    - name: write sysctl sssd service status
      copy:
        dest: "{{ remote_logs_path }}/{{ ansible_ssh_host }}/post/sssd"
        content: "{{ sssd_post.stdout }}"
  tags:
    - post
- name: get internet interfaces info
  block:
    - name: retrieve ip addr output [POST]
      shell: "ip addr | awk '/^[0-9]+:/ { sub(/:/,\"\",$2); iface=$2 } /^[[:space:]]*inet / { split($2, a, \"/\"); print iface\" : \"a[1] }' | sort"
      register: ipa_post
    - name: set fact ip address
      set_fact:
        results_post: "{{ results_post|combine({'ipaddress': ipa_post.stdout.replace(\"'\",'\"')|quote }) }}"
    - name: dump ip addr info
      copy:
        dest: "{{ remote_logs_path }}/{{ ansible_ssh_host }}/post/ips"
        content: "{{ ipa_post.stdout }}"
  tags:
    - post
